.Hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(58, 0, 8, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    color: white;
}
.Hero-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.Hero-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.Hero-text p{
    margin-bottom: 35px;
    max-width: 800px;
    font-size: 20px;
    line-height: 1.4;
}